*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.container3 {
    /* write declarations here */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ; /* grid-template-column: repeat(3,1fr)*/
    gap: 10px;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    border: 1px solid rgb(0 0 0 / 10%);
    width: 350px;

}
.container3 img{
  width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 1px;
     
}


.three { 
    background-color:#fff ;
}
.grip, footer, header{
    max-width: 840px;
    margin: 0 auto;

}
p{
    
    margin: 10px;
    padding: 0.5px;
    

}
.grip{
    display: grid;
}
.profile-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.profile-container img{
    width: 250px;
    height: 260px;
    border: 1px solid white;
    padding: 1px;
    box-shadow: 0 0 20px gray;
    border-radius: 50%;
}
 figure{
    text-align: center;
 }

 figcaption{
    font-size: 16px;
    color: #000;
 }
 h1, h2{
    text-align: center;
    color: darkblue;
    border-bottom: 1px;
 }
 .socialmedia img{
      width: 30px; 
      height: 30px;
}
footer {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    border-top: 0.5px solid #000;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: 0.8em,
    
}
.box {
    margin: 0.5rem;
    border: 2px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
}
h3{
    color: darkblue;
}
header{
    background-color: darkblue;
    padding: 10px;
}
#note{
    color: #fff;
}
.box a{
    text-decoration: none; 
    font-weight: 550;
}
.hamburger-menu {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	z-index : 1000;
}
.hamburger-icon {
	font-size: 24px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}
#menu-toggle{
	display: none;
}
#menu-toggle:checked + .hamburger-icon {
	transform: rotate(90deg);
}
#menu-toggle:checked + .hamburger-icon + .menu-items {
	transform: translateX(0);
}
.menu-items {
	position: fixed;
	top: 40px;
	right: 0;
	background-color: #f0f0f0;
	padding: 10px;
	border: 1px solid #ddd;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
	width: 200px;
	height: calc(100vh - 40px);
	overflow-y: auto;
}
.menu-items ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-items li {
	margin-bottom: 10px;
}
.menu-items a {
	text-decoration: none;
	color: #333;
}
body.dark-mode {
	background-color: #333;/* dark mode style*/
	color: white;
}
body.dark-mode .hamburger-menu, body.dark-mode .menu-items {
	background-color: #444;
	border-color: #555;
}
body.dark-mode .menu-items a {
	color: rgba(255, 255, 255, 0.582);
}